<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.hospital.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.ujiuye.hospital.bean.Role">
    <id column="role_id" jdbcType="INTEGER" property="role_id" />
    <result column="role_name" jdbcType="VARCHAR" property="role_name" />
    <result column="role_desc" jdbcType="VARCHAR" property="role_desc" />
    <result column="created_date" jdbcType="DATE" property="created_date" />
    <result column="updated_date" jdbcType="DATE" property="updated_date" />
    <result column="updated_man" jdbcType="VARCHAR" property="updated_man" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, role_desc, created_date, updated_date, updated_man
  </sql>

  <select id="getById" resultType="Role">
    select * from role where role_id=#{id}
  </select>
  
  <select id="getAllRole" resultType="Role">
    select * from role
  </select>

</mapper>